<footer class="footer">
  <p class="footer__copy">&copy; {{year}}. All rights reserved. Created by &commat;levipereira9</p>
  <ul class="footer__links">
    <li>
      <a href="https://github.com/LeviPereira9" target="_blank">
        <i class="bi bi-github"></i>
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/levi-pereira-da-silva-61303a193/" target="_blank">
        <i class="bi bi-linkedin"></i>

      </a>
    </li>
    <li>
      <a href="https://twitter.com/LeviPereira09" target="_blank">
        <i class="bi bi-twitter-x"></i>
      </a>
    </li>
    <li>
      <a href="https://twitter.com/LeviPereira09" target="_blank">
        
      </a>
    </li>
  </ul>
</footer>
