<nav class="navbar">
  <span class="navbar__logo">
    <a href="#">LEVI</a>
  </span>
  <ul class="navbar__menu">
    <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" >{{ 'navbar.home' | translate }}</a></li>
    <li><a routerLink="/skills" routerLinkActive="active"  >{{ 'navbar.skills' | translate }}</a></li>
    <li><a routerLink="/projects" >{{ 'navbar.projects' | translate }}</a></li>
    <li><a routerLink="/contactme" >{{ 'navbar.contactMe' | translate }}</a></li>
  </ul>
</nav>
