<nav class="navbar" [class.navbar--scrolled]="isScrolled">
  <div class="navbar__content">
    <span class="navbar__content__logo">
      <a href="#">LEVI</a>
    </span>
    <ul class="navbar__content__menu">
      <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" >{{ 'navbar.home' | translate }}</a></li>
      <li><a routerLink="/skills" routerLinkActive="active"  >{{ 'navbar.skills' | translate }}</a></li>
      <li><a routerLink="/projects" >{{ 'navbar.projects' | translate }}</a></li>
      <li><a routerLink="/contact" >{{ 'navbar.contactMe' | translate }}</a></li>
    </ul>
  </div>
</nav>
