<nav class="navbar" [class.navbar--scrolled]="isScrolled">
  <div class="navbar__content">
    <span class="navbar__content__logo">
      <a href="#">LEVI</a>
    </span>
    <ul class="navbar__content__menu">
      <li><a
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >
        {{ navbar.home }}
      </a></li>
      <li><a
        routerLink="/skills"
        routerLinkActive="active"  >
        {{ navbar.skills}}
      </a></li>
      <li><a
        routerLink="/projects"
        routerLinkActive="active" >
        {{ navbar.projects}}
      </a></li>
      <li><a
        routerLink="/contact"
        routerLinkActive="active" >
        {{ navbar.contactMe}}
      </a></li>
    </ul>
  </div>
</nav>
