@import '../../scss/variables';


.skills{

  padding-bottom: 32px;

  margin-bottom: 18px;
  border-bottom: 1px solid white;



  &__title{
    font-weight: none;
  }

  &__description{
    padding: 16px 0 10px 0;
    text-align: justify;
  }

  &__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 32px;
    padding: 16px 0;
    margin-bottom: 32px;

    &__icon{
      font-size: 5em;
      padding: 8px;
      border-radius: 8px;
      border: 1px solid $contrast-color;
      color: $secondary-color;
    }
  }

  @media (max-width: 768px) {
    &__container{
      &__icon{
        font-size: 3.5em;
      }
    }
  }

}
