@import '../../../scss/variables';

.header {
  padding-bottom: 18px;
  margin-bottom: 18px;
  border-bottom: 1px solid white;

  font-size: 30px;
  padding: 16px 0;

  text-align: left;
  word-wrap: break-word;

  display: flex;
  justify-content: space-between;
  align-items: center;

  //Text Side
  &__left {
    max-width: 50%;

    &__text {
      display: inline-block;
      padding-bottom: 100px;
      height: 35px;

      &__i{
        padding-right: 10px;
      }

      &__word {
        border-right: 3px solid white;
        white-space: nowrap;
        overflow: hidden;
        border-right: 3px solid white;
        animation: blink 0.5s step-end infinite alternate;

        @keyframes blink {
          50% {
            border-color: transparent;
          }
        }
      }
    }
  }

  //Image Side
  &__right {
    &__img-wrapper {
      position: relative;
      display: inline-block;
      background-color: transparent;
      overflow: hidden;

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: radial-gradient(circle, #322136 0%, transparent 100%);
        border-radius: 50%;
        pointer-events: none;
      }
    }

    &__img {
      max-width: 100%;
      position: relative;
      z-index: 1;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
    }
  }

  //Responsividade.
  @media (max-width: 768px) { //Telas médias.
    flex-direction: column;
    align-items: flex-start;
    text-align: center;

    &__left {
      max-width: 100%;

      &__text{
        &__i{
          display: block;
        }
      }
    }

    &__right {
      max-width: 100%;
      margin-top: 16px;

      &__img {
        max-width: 70%;
        margin: 0 auto;
      }
    }
  }

  @media (max-width: 480px) { //Telas pequenas.
    font-size: 24px;

    &__right {
      &__img {
        max-width: 90%;
      }
    }
  }
}
