/* You can add global styles to this file, and also import other style files */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

// Só funciona se mudar para fixed ou eu sou muito burro.
ngx-particles{
  position: fixed;
  z-index: -1;
}
