/* You can add global styles to this file, and also import other style files */
@import './app/scss/variables';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  list-style: none;
  text-decoration: none;
}

// Só funciona se mudar para fixed ou eu sou muito burro.
ngx-particles{
  position: fixed;
  z-index: -1;
}

.active{
  color: $primary-color;
}

fa-icon.git svg path{
  fill: white;
  stroke: #ff0000;
  stroke-width: 10;

  &:hover{
    color: $particles-color;
  }
}

